/* 
TODO: Add styles to match the layout in the image.
Note: you should only need to use flexbox properties and margin/padding to create the layout.
*/

.card-container, .features, .footer-content, header {
    display: flex;
    flex-flow: row nowrap;
}
header {
    justify-content: space-around;
    align-items: center;
}
.logo, .user-actions, .nav-link {
    padding: 1rem;
}
.footer-section {
    margin: 0 1rem;
}
.card, .feature-item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    justify-content:space-around;
    margin: 0 1rem;  
}

body {
    min-width: 850px; /* under 850px flexbox positionings get wonky */
}

.features {
    align-items: start;
}

/* 
Challenge: Use flexbox in media queries to create a responsive layout --Don't have time sorry--
*/


